Source: libgends
Priority: extra
Maintainer: Julian Maurice <jajm@jajm.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/jajm/libgends

Package: libgends-dev
Section: libdevel
Architecture: any
Depends: libgends (= ${binary:Version}), ${misc:Depends}
Description: Generic Data Structures library (development files)
 libgends is a C library for handling common data structures easily
 (linked lists, hash maps, ...)

Package: libgends
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Generic Data Structures library
 libgends is a C library for handling common data structures easily
 (linked lists, hash maps, ...)
